useDynLib(pedigreekit, .registration = TRUE)
import(Rcpp)
importFrom("stats", "sd", "setNames")
importFrom("utils", "flush.console", "read.table", "setTxtProgressBar", "txtProgressBar")
S3method(print,pedigree_structure)
export(calculate_ancestor_contribution)
export(calculate_inbreeding)
export(check_pedigree)
export(check_pedigree_structure)
export(extract_sub_pedigree)
export(fix_pedigree)
export(hello)
